img{
    width: 35vw;
}
body{
    margin: 10px;
    padding-left: 10vw;
    background-color: aqua;
    width: 80vw;
}
.main , .bihar{
    width: 86vw;
    overflow-x: scroll;
    
}
.india{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
}
.active, .recovered, .confirmed, .deaths, .lastupdatedtime{
    width: 300px;
    height: auto        ;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
p{
    text-align: center;
}
a{
    text-decoration: none;
}